MYSQL_PORT=13306
MYSQL_ROOT_PASSWORD=local-root-password
MYSQL_DATABASE=mateclaw_sim
MYSQL_USER=mateclaw_sim
MYSQL_PASSWORD=local-user-password

POSTGRES_PORT=15432
POSTGRES_DB=mateclaw_sim
POSTGRES_USER=mateclaw_sim
POSTGRES_PASSWORD=local-postgres-password

WIREMOCK_PORT=18081
WIREMOCK_HTTPS_PORT=18443
